<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rem.vendingmachine.dao.ProductMapper">

    <insert id="insertProduct" parameterType="product">
        insert into vending_machine.product(name, price)
        VALUES (#{name},#{price})
    </insert>

    <delete id="deleteProductById" parameterType="int">
        delete from vending_machine.product where id = #{id}
    </delete>

    <update id="updateProduct" parameterType="product">
        UPDATE vending_machine.product
        SET name = #{name},
            price = #{price}
        WHERE id = #{id}
    </update>

    <select id="selectAllProduct" resultType="product">
        select * from vending_machine.product
    </select>

    <select id="selectProductById" resultType="product">
        select * from vending_machine.product where id = #{id}
    </select>

    <!--废案-->
    <select id="selectLowStockProduct" resultType="product">
        select *
        from vending_machine.product
        where stock &lt; 0 and status = 1
    </select>

    <update id="updateStock">
        update vending_machine.product
        set stock = product.stock + #{quantity}, update_time = current_timestamp
        where id=#{id}
    </update>

    <select id="selectProductNameById" resultType="String">
        SELECT name FROM product WHERE id = #{productId}
    </select>

</mapper>
